/*
    NCoS CSS
*/

/* html {
	background-color:  #37352B;
} */

/* 
* {
    border: 1px solid white;
}
 */

body {
	font-size:   13pt;
/* 	color:       #fbfbfb; */
	background:  #fbfbfb;
/* 	background-color:  #37352B; */
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
/* 	font-family: 'Source Serif Pro', serif; */
	line-height: 1.4;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
/* 	margin:      10%; */
	width: 100%;
    height: 100%;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color:       #111;
}

h1 {
	font-size:     3em;
	line-height:   1;
	margin-bottom: 0.5em;
	margin-top:    2em;
}

h2 {
	font-size:     2em;
	margin-bottom: 0.75em;
	margin-top:    1.5em;
}

h3 {
	font-size:   1.5em;
	line-height: 1;
	margin-top:  1.5em;
}

h4 {
	font-size:     1.2em;
	line-height:   1.25;
	margin-bottom: 1.25em;
}

h5 {
	font-size:     1em;
	font-weight:   bold;
	margin-bottom: 1.5em;
}

h6 {
	font-size:   1em;
	font-weight: bold;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: #A7353B;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

article {
	max-width: 700px;
/* 	margin: auto; */
/* 	background-color: black; */
}

p {
	margin: 0 0 1.5em;
	width: 100%;
/* 	background-color:  #37352B; */
}

a:focus, a:hover {
	color: #F3666D;
}

a {
	color:           #A7353B/*#06c*/;
/* 	text-decoration: none; */
}

blockquote {
	margin: 1.5em;
	color:  #555;
}

strong, dfn {
	font-weight: bold;
}

em, dfn {
	font-style: italic;
}

del {
	color: #666;
}

pre {
	margin:      1.5em 0;
	white-space: pre;
}

pre, code, tt {
	font:        1em 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
}

li ul, li ol {
	margin: 0;
}

ul, ol {
	margin:       0 3em 1.5em 1.5em;
	padding-left: 1.5em;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

figure {
	margin:     1.5em 0;
	width:      100%;
	text-align: center;
}

figcaption {
	font-size:     0.75em;
	padding:       0.5em 2em;
	margin-bottom: 2em;
}

figure img {
	margin-bottom: 0px;
}

hr {
	border:        0px;
	border-top:    1px solid #ddd;
	border-bottom: 1px solid #fff;
	margin-top:    4em;
	margin-bottom: 2em;
}

h1 + hr {
	margin-top: 2em;
}

#table-scroller {
    overflow-x: auto;
}

table, th, td {
/*     border: 1px solid black; */
/*     display: block; */
/*     width: 100%; */
/*     overflow-x: auto; */
/*     overflow: scroll; */
    white-space: nowrap;
    
}

th, td {
    text-align: left;
    min-width: 200px;
}

ol#footnotes {
	font-size:   0.75em;
	padding-top: 1.5em;
	margin-top:  3em;
	margin-left: 0;
}

ol#footnotes:before {
	content:        "———";
	letter-spacing: -4px;
	margin-left:    -1.5em;
}

ol p, ul p {
	margin-bottom: 0px;
}

li {
	margin-bottom: 0.75em;
	margin-top:    0.75em;
}

/* Code Highlighting */

code {
	font-family: 'Menlo', monospace;
	font-size:   10.5pt;
}

p > code {
	padding:    0.2em 0.4em;
	background: #eee;
}

pre {
	color:         #000;
	text-align:    left;
	line-height:   1.2em;
	overflow-x:    scroll;
/* 	background:    #f8f8f8; */
	padding:       20pt;
	margin:        20pt 0;
	border-radius: 3pt;
	white-space:   pre-wrap;
	tab-size:      4;
}

#inner-header {
	color:       #526A51;
	background-color:  #414C43/*#37352B*/;
	width: 100%;
	height: 150px;
/* 	margin-top: 20px;
	margin-bottom: 20px; */
	border-top: 5px solid #526A51;
	border-bottom: 5px solid #526A51;
}

#inner-header a {
	color: #ffffff/*#93AD57*/;
	text-decoration: none;
}

#footer {
/*    	color:       #526A51; */
/* 	background-color:  #89252C; */
/* 	width: 100%; */
/* 	height: 75px; */
/*     border-top: 5px solid #526A51; */
/* 	margin-top: 20px;
	margin-bottom: 20px; */
}

#banner {
	margin: auto;
	width: 100%; /*Edited*/
	max-width: 750px;
	margin-bottom: 0.5em;
	margin-top:    0.5em;
}

#main {
/* 	width: 100%;/*750px;*/
	max-width: 750px;
	margin: auto;
}

#more {
/*     border: 1px solid white; */
    margin: auto;
    text-align: center;
    height: 200px;
}

#more a {
    text-decoration: none;
}

.container {
	
}

.nav {
	margin: auto;
	margin-top: 50px;
	width: 100%;
	max-width: 750px;
	padding: 0px;
/* 	text-align: center; */
}

.nav-item {
	display: inline;
	margin-left: 15px;
	margin-right: 20px;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
/* 	background-color:  #37352B; */
}

.syntax-all {
}

.syntax-entity {
	color: #6f42c1;
}

.syntax-tag {
	color: #22863a;
}

.syntax-keyword {
	color: #d73a49;
}

.syntax-parameter {
	color: #24292e;
}

.syntax-string {
	color: #003878;
}

.syntax-constant {
	color: #005cc5;
}

.syntax-variable {
	color: #e36209;
}

.syntax-escape {
	font-weight: bold;
	color:       #22863a;
}

.syntax-comment {
	color: #6a737d;
}

.syntax-error {
	color: #b31d28;
}

/* Markup Highlighting */

.syntax-heading {
	font-weight: bold;
	color:       #005cc5;
}

.syntax-italic {
	font-style: italic;
	color:      #24292e;
}

.syntax-bold {
	font-weight: bold;
	color:       #24292e;
}

.syntax-deleted {
	color:            #b31d28;
	background-color: #ffeef0;
}

.syntax-inserted {
	color:            #22863a;
	background-color: #f0fff4;
}

.syntax-changed {
	color:            #e36209;
	background-color: #ffebda;
}

.syntax-link {
/* 	text-decoration: underline; */
	color:           #032f62;
}

.syntax-list {
	color: #e36209;
}

@keyframes highfade {
	0% {
		background-color: none;
	}
	20% {
		background-color: yellow;
	}
	100% {
		background-color: none;
	}
}

@-webkit-keyframes highfade {
	0% {
		background-color: none;
	}
	20% {
		background-color: yellow;
	}
	100% {
		background-color: none;
	}
}

a:target, ol#footnotes li:target, sup a:target {
	animation-name:                    highfade;
	animation-duration:                2s;
	animation-iteration-count:         1;
	animation-timing-function:         ease-in-out;
	-webkit-animation-name:            highfade;
	-webkit-animation-duration:        2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}

a:target {
	border:0;outline: 0;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #FFF;
        color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #151617;
        color: #DADBE3;
    }
    
    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
    
    a:focus, a:hover {
        color: #A7353B;
    }

    a {
        color: #F24B50/*#06c*/;
    /* 	text-decoration: none; */
    }
    
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        text-decoration: none;
        color: #F24B50;
    }
    
    /* Code Highlighting */

    code {
        font-family: 'Menlo', monospace;
        font-size:   10.5pt;
    }

    p > code {
        padding:    0.2em 0.4em;
        background: #000;
    }

    pre {
        color:         #999;
        text-align:    left;
        line-height:   1.2em;
        overflow-x:    scroll;
    /* 	background:    #f8f8f8; */
        padding:       20pt;
        margin:        20pt 0;
        border-radius: 3pt;
        white-space:   pre-wrap;
        tab-size:      4;
        background: #000;
    }
    
    blockquote {
        margin: 1.5em;
        color:  #999;
    }
}

@media screen and (max-width: 768px) {
	body {
		margin:0px;
	}
}

@media screen and (max-width: 736px),
       screen and (max-width: 808px) and (max-height: 414px) {
	body {
		margin:0px;
	}
	
	#inner-header {
		margin: 0;
	}
	
	#banner {
		margin: 0px;
	}
	
	#main {
		margin: 10px;
	}
	
	ul,ol {
		margin: 0;
	}
	
	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.8em;
	}
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}